{% load static %}
{% load staticfiles cookielaw_tags %}
<html>


<head>
  <script type='text/javascript'
    src='https://platform-api.sharethis.com/js/sharethis.js#property=5ebe69465e01a80012b95009&product=inline-share-buttons&cms=website'
    async='async'></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166949727-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-166949727-1');
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>
    {% block title %} {% endblock %}
  </title>
  {% load i18n %}
  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            {% trans "Utilizamos cookies propias y de terceros para ofrecer nuestros servicios, mostrar publicidad y recoger información estadística. Al continuar con la navegación entendemos que lo acepta. Puede encontrar información sobre cómo borrar las cookies de su navegador en" %}
            </h1>
            <a href="https://www.google.com/search?q=borrar+cookies+navegador">Google</a>.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(function () {
      $("#myModal").modal();
    });
  </script>
  {% load i18n %}
  <div class="modal fade in" id="myModal" role="dialog" style="display: block; padding-right: 17px;">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Politica de cookies</h4><button class="close" data-dismiss="modal"
            type="button">×</button>
        </div>
        <div class="modal-body">
          {% trans "Utilizamos cookies propias y de terceros para ofrecer nuestros servicios, mostrar publicidad y recoger información estadística. Al continuar con la navegación entendemos que lo acepta. Puede encontrar información sobre cómo borrar las cookies de su navegador en " %}<a
            href="https://www.google.com/search?q=borrar+cookies+navegador">Google</a>.
        </div>
        <div class="modal-footer"><button class="btn btn-default" data-dismiss="modal" type="button">cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(function () {
      $("#myModal").modal();
    });
  </script>
  <script data-ad-client="ca-pub-6265438632427762" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <meta charset="UTF-8">
  <title>Floating Discord Button</title>


  <link rel='stylesheet prefetch'
    href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
  <link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.4/css/all.css'>

  <link rel="stylesheet" href="css/style.css">
</head>

<body style="background-color:skyblue;">
  <div class="container-fluid">
    <h1 style="background-color:  #f8bc64  ; color: black ; text-align:center">
      <hr>
      <img src="{% static 'Naboform/imagenes/indice1.jpg' %}" class="img-fluid" />
      <hr>
    </h1>
    <ul class="nav nav-pills nav-fill" style="background-color:#f8bc64;">

      <li class="nav-item">
        <a class="nav-link " style="color:black" href="{% url 'home' %}">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " style="color:black" href="{% url 'form' %}">Formulario</a>
      </li>

      <li class="nav-item" style="color:blue">
        <a class="nav-link " style="color:black" href="{% url 'contacto' %}">Contacto</a>

    </ul>
    <div class="col-md-12">
      {% block content %} {% endblock %}
    </div>
    <h5 style="background-color: #f8bc64; color:black; text-align:center">
      <hr>
      <p>Página creada y gestionada por:</p>
      <a href="https://twitter.com/TrueHatex?ref_src=twsrc%5Etfw" class="twitter-follow-button"
        data-show-count="false">Follow @TrueHatex</a>
      <p>Sigue a nuestro Streamer en Twitch</p>
      <p>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><a
          href="http://twitch.tv/jcarrillo_clx"><img
            src="http://streambadge.com/twitch/custom/2b2b2b/b9a3e3/808080/jcarrillo_clx.png" width="300" height="64"
            alt="jcarrillo_clx's Streambadge" style="text-align:right"></a>
        <a href="#discord_link_here" target="_blank">
          <div class="btn btn-dark floating-btn">
            <i class="icon fab fa-discord"></i>
            <div class="expanded">
              <span>
                <i class="far fa-comments"></i> Habla con nosotros en nuestro Discord.</span>
            </div>
          </div>
      </p>
    </h5>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</html>