{% load static %}
<html>


<head>
  <script type='text/javascript'
    src='https://platform-api.sharethis.com/js/sharethis.js#property=5ebe69465e01a80012b95009&product=inline-share-buttons&cms=website'
    async='async'></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166949727-1"></script>
  <script data-ad-client="ca-pub-6265438632427762" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <meta charset="UTF-8">
  <title>NaboWeb</title>

  <link rel='stylesheet prefetch'
    href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
  <link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.4/css/all.css'>

  <link rel="stylesheet" href="css/style.css">
</head>

<body style="background-color:skyblue;">
  <div class="container-fluid">
    <h1 style="background-color:  #f8bc64  ; color: black ; text-align:center">
      <hr>
      <img src="{% static 'Naboform/imagenes/indice1.jpg' %}" class="img-fluid" />
      <hr>
    </h1>
    <ul class="nav nav-pills nav-fill" style="background-color:#f8bc64;">

      <li class="nav-item">
        <a class="nav-link " style="color:black" href="{% url 'home' %}">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " style="color:black" href="{% url 'form' %}">Formulario</a>
      </li>

      <li class="nav-item" style="color:blue">
        <a class="nav-link " style="color:black" href="{% url 'contacto' %}">Contacto</a>

    </ul>
    <div class="col-md-12">
      {% block content %} {% endblock %}
    </div>
    <h5 style="background-color: #f8bc64; color:black; text-align:center">
      <hr>
      <div class="sharethis-inline-follow-buttons"></div>
      <hr>
      <a href="https://discord.gg/G38kJCQ" target="_blank">
        <div class="btn btn-dark floating-btn">
          <i class="icon fab fa-discord"></i>
          <div class="expanded">
            <span>
              <i class="far fa-comments"></i> Habla con nosotros en nuestro Discord.</span>
          </div>
        </div>
        </p>
        <hr>
    </h5>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</html>