{% extends "base.html" %}

{% block title %} FORM CTN {% endblock %}


{% block content %}
<hr>
<form action="/form/" method="post">{% csrf_token %}
  <div class="form-group">
    <label for="usuario">Usuario:</label>
    {% if form.errors %}
<p style="color: red;">Por favor revisa este campo.</p>
{% endif %}
    <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Aquí tu usuario"
      value="{{ current_usuario }}">
  </div>
  <div class="form-group">
    <label for="precio">Precio:</label>
    {% if form.errors %}
<p style="color: red;">Por favor revisa este campo.</p>
{% endif %}
    <input type="number" class="form-control" id="precio" name="precio"
      placeholder="Precio al que encontramos los nabos en tu isla" value="{{ current_precio }}">
  </div>
  <div class="form-group">
    <label for="entrada">Entrada</label>
    {% if form.errors %}
<p style="color: red;">Por favor revisa este campo.</p>
{% endif %}
    <input type="text" class="form-control" id="entrada" name="entrada" placeholder="Precio por entrar a tu isla"
      value="{{ current_entrada }}">
  </div>
  <div class="form-group">
    <label for="contacto">Contacto</label>{% if form.errors %}
    <p style="color: red;">Por favor revisa este campo.</p>
    {% endif %}
    <input type="text" class="form-control" id="contacto" name="contacto"
      placeholder="Forma de contacto para el negocio; (TELEGRAM, @ejemplo)" value="{{ current_contacto }}">
  </div>
  <div class="form-group">
    <label for="caducidad">Caducidad</label>{% if form.errors %}
    <p style="color: red;">Por favor revisa este campo.</p>
    {% endif %}
    <input type="time" class="form-control" id="time" name="time"
      placeholder="Hora a la que el anuncio se destruirá (modo 24h)" value="{{ current_caducidad }}">
  </div>
  <button type="submit" class="btn btn-primary">Publicar</button>
  <hr>
</form>
{% endblock %}